<?xml version="1.0" encoding="UTF-8"?>
<root>
    <name>KB Hint</name>
    <key>kbhint</key>
    <state>unstable</state>
    <logo></logo>
    <description>
        <short>
            <en>Live knowledge-base suggestions while filling end-user Forms.</en>
        </short>
        <long>
            <en>Suggests existing Knowledge Base articles inline as the user types in the new GLPI 11.x end-user Form. Title input drives the primary query; description text is consulted only when the title yields zero results. Clicking a suggestion opens the article in a new tab.</en>
        </long>
    </description>
    <homepage>https://github.com/tdido/glpi-kb-hint-plugin</homepage>
    <download>https://github.com/tdido/glpi-kb-hint-plugin/releases</download>
    <issues>https://github.com/tdido/glpi-kb-hint-plugin/issues</issues>
    <license>GPLv3+</license>
    <authors>
        <author>Tomás Di Domenico</author>
    </authors>
    <versions>
        <version>
            <num>0.1.2</num>
            <compatibility>~11.0</compatibility>
        </version>
    </versions>
    <langs>
        <lang>en_GB</lang>
    </langs>
    <tags>
        <en>
            <tag>knowledge base</tag>
            <tag>helpdesk</tag>
            <tag>form</tag>
        </en>
    </tags>
</root>
